@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}
* {
  margin: 0;
}
li,ul {
    list-style: none;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
.project h3{
    padding-top: 10px;
}
.container{
    display: grid;
    grid-template-areas: "leftNav content";
    grid-template-columns: 60px auto;

}
.left-nav {
    grid-area: leftNav;
    background-color: #211c52;
    width: 56px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.left-nav-ul {
    all: unset;
    background: var(--pd-color-navigation-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: var(--fe-root-side-menu-width);
}    
.icon {
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    height: 24px;
    user-select: none;
    width: 24px;
    fill: white;
    border-radius: 6px;

}
.menu-item {
    border-radius: 6px;
    margin-block: 6px;
    position: relative;

}
.menu-item:hover {
    background-color: #6150e1;
}
.menu-item .menu-item-link{
    align-items: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.tooltip {
    position: absolute;
    visibility: hidden;
    width: 100px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 10px;
    left: 55px;
    font-size: 12px;
}
.tooltip span {
    background-color: #6150e1;
    border-radius: 4px;
    padding: 2px 5px;
}
.menu-item:hover .tooltip {
    background-color: #211c52;
    z-index: 1;
    visibility: visible;
}
.content{
    grid-area: content;
}
.section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.project {
    background-color: rgba(206, 206, 206, 0.301);
    width: 96%;
    height: 900px;
}

.project-add {
    border: none;
    font-size: 25px;
    color: rgb(131, 131, 131);
    width: 100%;
    text-align: center;
}

.filter-right-section li {
    list-style: none;
}

.filter-right-section {
    display: flex;
    padding: 20px;
}

.filter-buton {
    padding: 10px 20px;
    border: 1px solid rgb(151, 150, 150);
    border-radius: 5px;
    background-color: white;
}

.green-buton {
    margin-left: 20px;
    background-color: green;
    color: white;
    border: none;
    font-size: 18px;
}
.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    border-bottom-color: hsla(89, 43%, 51%, 0.3);
    padding: 10px;
    
    
}
.left-title h1{
font:600 16px/24px "Inter",sans-serif
}
.center-nav{
display: flex;
}
.center-nav .searchInput {
    position: relative;
    border-radius: 30px;
    width: 300px;
    height: 40px;
    padding-left:40px;
}
.searchInput::placeholder{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.searchIcon {
position: absolute;
top: 18px;
padding-left: 10px;
}
.right-nav {
    display: flex;
}
.right-nav .right-nav-list{
    list-style: none;
    display: flex;
    gap: 20px;
}
.myApps{
    background-color: transparent;
    border:none;
    cursor: pointer;

}
.quickHelp{
    background-color: transparent;
    border:none;
    cursor: pointer;
}
.salesAssist{
    background-color: transparent;
    border:none;
    cursor: pointer;
}
.fa-regular, .fa-solid{
    font-size:18px ;
}


