@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
li,ul {
    list-style: none;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
.product li{
    margin-bottom: 8px;
}
.project h3{
    padding-top: 10px;
    font-size: 16px;
}
.container{
    display: grid;
    grid-template-areas: "leftNav content";
    grid-template-columns: 60px auto;

}
.left-nav {
    grid-area: leftNav;
    background-color: #211c52;
    width: 56px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.left-nav-ul {
    all: unset;
    background: var(--pd-color-navigation-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: var(--fe-root-side-menu-width);
}    
.icon {
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    height: 24px;
    user-select: none;
    width: 24px;
    fill: white;
    border-radius: 6px;

}
.menu-item {
    border-radius: 6px;
    margin-block: 6px;
    position: relative;

}
.menu-item:hover {
    background-color: #6150e1;
}
.menu-item .menu-item-link{
    align-items: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.tooltip {
    position: absolute;
    visibility: hidden;
    width: 100px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 10px;
    left: 55px;
    font-size: 12px;
}
.tooltip span {
    background-color: #6150e1;
    border-radius: 4px;
    padding: 2px 5px;
}
.menu-item:hover .tooltip {
    background-color: #211c52;
    z-index: 1;
    visibility: visible;
}
.content{
    grid-area: content;
}
.section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.project {
    background-color: rgba(119, 119, 119, 0.103);
    width: 96%;
    height: 900px;
    padding: 15px;
}

.project-add {
    border: none;
    font-size: 25px;
    color: rgb(131, 131, 131);
    width: 100%;
    text-align: center;
    cursor: pointer;;
}

.filter-left-section li {
    list-style: none;
}

.filter-left-section {
    display: flex;
    padding: 20px;
}

.filter-buton {
    padding: 5px 15px;
    border: 1px solid rgb(151, 150, 150);
    border-radius: 5px;
    background-color: white;
}

.green-buton {
    margin-left: 20px;
    background-color: green;
    color: white;
    border: none;
    font-size: 16px;
}
.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    border-bottom-color: hsla(89, 43%, 51%, 0.3);
    padding: 10px;
    
    
}
.left-title h1{
font:600 16px/24px "Inter",sans-serif
}
.center-nav{
display: flex;
}
.center-nav .searchInput {
    position: relative;
    border-radius: 30px;
    width: 300px;
    height: 40px;
    padding-left:40px;
}
.searchInput::placeholder{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.searchIcon {
position: absolute;
top: 18px;
padding-left: 10px;
}
.right-nav {
    display: flex;
}
.right-nav .right-nav-list{
    list-style: none;
    display: flex;
    gap: 20px;
}
.myApps{
    background-color: transparent;
    border:none;
    cursor: pointer;

}
.quickHelp{
    background-color: transparent;
    border:none;
    cursor: pointer;
}
.salesAssist{
    background-color: transparent;
    border:none;
    cursor: pointer;
}
.fa-regular, .fa-solid{
    font-size:18px ;
}
.deal {
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 3px rgb(0 0 0/7%),0 1px 2px rgb(0 0 0/6%),0 0 1px rgb(0 0 0/5%);;
}
h5 .company{
    font: 600 16px/21px "Inter",sans-serif;
}
.detail {
    font: 500 14px/21px "Inter",sans-serif;
}
li #cost {
    font: 600 12px/16px "Inter",sans-serif;
}

.dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(33,35,44,.48);
    /* bottom: 0;
    left: 0; */
    position: fixed;
    /* right: 0;
    top: 0; */
    margin: auto;
    z-index: 1;
    padding: 30px;
    border: none;
}

form {
    margin: auto;
    background-color: rgb(255, 255, 255);
    max-width: 50%;
    display: grid;
    grid-template-areas: 
    "form-header form-header"
    "form-left form-right"
    "form-footer form-footer"
    ;
    /* padding: 20px; */
}

.deal-data {
    display: flex;
}

.form-left {
    grid-area: form-left;
    border-right: 1px solid gray;
    padding: 30px;
}

.form-right {
    grid-area: form-right;
    padding: 30px;
}
.form-footer {
    grid-area: form-footer;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid gray;
    padding-top: 10px;
    background-color: #f5f5f6;
}
.form-header {
    grid-area: form-header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    background-color: #f5f5f6;
}
.reset {
    border: none;
    padding: 10px;
    background-color: transparent;
}
.reset:hover {
    background-color: rgb(33 35 44/5%);
}
form h4 {
    margin-bottom: 4px;
}
form input,
form select {
    margin-bottom: 10px;
    outline: none;
}
.form-footer button {
    margin: 5px;
}
.form-header h3 {
    margin: 10px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}